<!DOCTYPE html>
<html>
<head>
    <title>CRUD App</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS for spacing and design */
        body {
            background-color: #f0f0f0;
            padding: 20px;
        }

        .container {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
        }

        /* Add your CSS styles for the modal here */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 5px;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Edit User Information</h1>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr data-id="{{ user[0] }}">
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>
                        <a href="{{ url_for('delete_user', id=user[0]) }}" class="btn btn-danger">Delete</a>
                      <a href="javascript:void(0);" onclick="editUser({{ user[0] }})" class="btn btn-primary">Edit</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Edit User Modal -->
        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeEditModal()">&times;</span>
                <h2>Edit User</h2>
                <form id="editUserForm" method="POST" action="">
                    <input type="hidden" name="id" id="editUserId">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="editUsername" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="editEmail" class="form-control" required>
                    </div>
                    <!-- Add the 'password' field to the form -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" name="password" id="editPassword" class="form-control" required>
                    </div>
                    <button type="button" onclick="updateUser()" class="btn btn-primary">Update User</button>
                </form>
            </div>
        </div>

        <h2 class="mt-4">Add User</h2>
        {% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
        <form action="/add" method="POST">
            <div class="form-group">
                <label for "username">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <!-- Add the 'password' field to the form -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success">Add User</button>
            <a href="/logout" class="btn btn-danger float-right">Log Out</a>
        </form>
    </div>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        var currentUserId = 0;

        function editUser(id) {
            // Fetch user details via an AJAX request and populate the modal fields
            currentUserId = id;
            $.ajax({
                url: '/get_user/' + id,
                type: 'GET',
                success: function (data) {
                    document.getElementById('editUserId').value = data.id;
                    document.getElementById('editUsername').value = data.username;
                    document.getElementById('editEmail').value = data.email;
                    document.getElementById('editPassword').value = data.password;
                    document.getElementById('editModal').style.display = 'block';
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function updateUser() {
            // Update user via an AJAX request
            var id = currentUserId;
            var username = document.getElementById('editUsername').value;
            var email = document.getElementById('editEmail').value;
            var password = document.getElementById('editPassword').value;
            
            $.ajax({
                url: '/update/' + id,
                type: 'POST',
                data: {
                    id: id,
                    username: username,
                    email: email,
                    password: password
                },
                success: function () {
                    closeEditModal();
                    
                    // Update the user in the UI
                    var userRow = document.querySelector(`tr[data-id="${id}"]`);
                    userRow.querySelector('td:nth-child(1)').textContent = username;
                    userRow.querySelector('td:nth-child(2)').textContent = email;
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function closeEditModal() {
            document.getElementById('editModal').style.display = 'none';
        }
    </script>
</body>
</html>
