<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-image: url('https://wallpaperaccess.com/full/1532444.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="background-color: rgba(55, 46, 73, 0.544); color: azure;">
                    <div class="card-header text-center">
                        <h1>Registration</h1>
                    </div>
                    <div class="card-body">
                        {% if registration_error %}
                        <div class="alert alert-danger" role="alert">
                            {{ registration_error }}
                        </div>
                        {% endif %}
                        <form action="/register" method="POST">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" name="username" required>
                            </div>

                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" name="email" required>
                            </div>

                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" name="password" required>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                            <a href="/login" class="btn btn-secondary btn-block">Login</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
